# Caches de dependência
node_modules/
# Arquivos especiais do sistema operacional ocultos
.DS_Store
# Arquivos pessoais de configuração da IDE
.vscode/*
# Arquivos gerado ao dar npm install
package-lock.json
# Arquivos gerados no período de execução
cypress/reports/cucumber-reports/
cypress/reports/pdf-reports/
cypress/reports/screenshots/
cucumber_report.xml
# Outros arquivos ou pastas
cypress/downloads/
